html{
	margin:0;
	padding:0;
	body{
		margin:0;
		padding:0;
		text-align: center;
		// background-color: pink;
		.container{
			background:url('../static/images/common-bg.png') no-repeat center center;
			margin:0 auto;
		}
	}

}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix::after{
	clear:both;
	content:'';
	height:0;
	display:none;
	visibility:hidden;
}
input,textarea,button{
	border:none;
	outline:none;
	// background-color: pink;
	resize:none;
	font-size:.36rem;
	text-align: center;
	box-sizing: border-box;

	margin:0;
}

